body{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}

.list{
    max-width:1200px;
    height: 1000px;
    margin: 0 auto;
    background-color:#C0DBD9;
}

.header{
    position: relative;
    background-color:#7FAFF6;
    height: 100px;
    max-width: 1170px;
    margin: 0 auto;
}
.header-top{
    padding-top:38.5px;
}
.header-button{
    padding: 8px 15px;
    background-color: #A5C7F9;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 30px 30.5px;
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
}
.modal{
    position: fixed; 
    background-color:white; 
    z-index: 1050;
    top: 120px;
    left:400px;
    opacity: 0; 
}
.modal:target{
    opacity: 1;
}
.modal-header{
    display:flex;
    font-size: 53px;
}
.modal-header h3{
    padding: 169px 116px 169px 117px;
    margin: 0;
}
.close {
    position:absolute;
    top:15px;
    right:15px;
    width: 43px;
    height: 39px;
    margin: 0;
    background-color:#7FAFF6;
    border-radius: 5px;
    text-align: center;
}
.button-close{
    position:absolute;
    color:white;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    text-decoration: none;
    top:8px;
    left:15px;
}

.container{
    display:grid;
    flex-wrap: wrap;
    grid-gap: 15px;
    margin: 15px auto;
    max-width: 1170px;
    grid-template-columns:390px 590px 160px 995px 160px;
    grid-template-rows: 198px;
    background-color:#B3F95A;
    counter-reset: section;
}
.box{
    display:grid;
    background-color:#8AD191;
    align-items: stretch;
    color:white;
    font-size: 53px;
    line-height: 62px;
    border:none;
}
.box::before{
    counter-increment: section;  
    content: counter(section);
    margin: 68px auto;
}

.box4{
    grid-column-start: 1;
    grid-column-end: 3;
}
.main-bottom{
    display:grid;
    gap:30px;
    grid-template-columns:repeat(4, 255px);
    grid-template-rows: 199px;
    width: 1170px;
    height:259px;
    margin:0px auto;
    background-color:#88B5BF;
}
.bottom-box{
    border:none;
    background-color:#0D89B0;
    margin-top:30px;
    width: 255px;
    height: 199px;
    margin-left:30px;
}

.footer{
    width: 1170px;
    height: 100px;
    background-color:#7FAFF7;
    margin: 100px auto 0;
}
